/* ----------- */
/* MEDIAPLAYER */
/* ----------- */

.mediaplayer {
    min-width: 360px;
    height: 480px;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #000000;
}

.video {
    height: 100%;
    max-height: calc(100% - 58px);
    border: 0;
    border-radius: 0;
}

/**/

.controls-wrapper {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 4px;
}

/* --- */

.progress-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .progress {
        width: 100%;
        height: 16px;
    }

/* --- */

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 32px;
}

/* --- */

.control {
    padding: 0;
    margin: 0;
    border: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.control_play {
    background-image: url('../img/icons/play_arrow_black_24dp.svg');
}

    @media (prefers-color-scheme: dark) {
        .control_play {
            background-image: url('../img/icons/play_arrow_white_24dp.svg');
        }
    }

.control_pause {
    background-image: url('../img/icons/pause_black_24dp.svg');
}

@media (prefers-color-scheme: dark) {
    .control_pause {
        background-image: url('../img/icons/pause_white_24dp.svg');
    }
}

.control_stop {
    background-image: url('../img/icons/stop_black_24dp.svg');
}

    @media (prefers-color-scheme: dark) {
        .control_stop {
            background-image: url('../img/icons/stop_white_24dp.svg');
        }
    }

/* --- */

.buttons__atRight, .buttons__atLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#volume {
    padding: 0;
}

/**/

.control_sound {
    background-image: url('../img/icons/volume_up_black_24dp.svg');
}

@media (prefers-color-scheme: dark) {
    .control_sound {
        background-image: url('../img/icons/volume_up_white_24dp.svg');
    }
}

.control_sound-muted {
    background-image: url('../img/icons/volume_off_black_24dp.svg');
}

@media (prefers-color-scheme: dark) {
    .control_sound-muted {
        background-image: url('../img/icons/volume_off_white_24dp.svg');
    }
}

.control_motion {
    background-image: url('../img/icons/slow_motion_video_black_24dp.svg');
}

@media (prefers-color-scheme: dark) {
    .control_motion {
        background-image: url('../img/icons/slow_motion_video_white_24dp.svg');
    }
}

.control_loop {
    background-image: url('../img/icons/loop_black_24dp.svg');
}

@media (prefers-color-scheme: dark) {
    .control_loop {
        background-image: url('../img/icons/loop_white_24dp.svg');
    }
}

.control_fullscreen {
    background-image: url('../img/icons/fullscreen_black_24dp.svg');
}

@media (prefers-color-scheme: dark) {
    .control_fullscreen {
        background-image: url('../img/icons/fullscreen_white_24dp.svg');
    }
}

.control_fullscreen-exit {
    background-image: url('../img/icons/fullscreen_exit_black_24dp.svg');
}

@media (prefers-color-scheme: dark) {
    .control_fullscreen-exit {
        background-image: url('../img/icons/fullscreen_exit_white_24dp.svg');
    }
}

/**/

.motion-menu {
    display: flex;
    flex-direction: column;
    min-width: 128px;
    position: relative;
    bottom: calc(101.5px + 32px + 16px);
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

/**/

.hidden {
    display: none !important;
}

